<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Przemysław Symber - JavaScript Developer. Check out my portfolio and contact me for collaboration.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Przemysław Symber">
    <meta name="keywords" content="Przemysław Symber, JavaScript Developer, Portfolio">
    <meta property="og:title" content="Przemysław Symber - JavaScript Developer">
    <meta property="og:image" content="https://symber.dev/assets/portret.png">
    <meta property="og:url" content="https://symber.dev/">
    <meta property="og:description" content="Check out my portfolio and contact me for collaboration.">
    <title>Przemysław Symber</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container" style="display: block;">
        <nav>
            <div>
                <!--<img src="https://placehold.co/20" alt="" Future logo> -->
                <h1>
                    Przemysław Symber
                </h1>
            </div>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
        </nav>
        <main>
            <div id="about">
                <div>
                    <h2>About me</h2>
                    <p>
                        Hello World! <br>
                        I'm Fullstack Developer based in Cracow.
                        Since early 2022, I've focused on Javascript development, contributing to dynamic interfaces. I'm also interested in full-stack programming so I use Python with Flask as well. I have dedication to industry trends and passion for efficient web apps. I'm eager to discuss how my skills align with your needs and contribute to your success.
                        <br>
                        <span>My Tech Stack:</span> <br>
                        - HTML, CSS (SASS)<br>
                        - JavaScript (React) <br>
                        - Python (Flask) <br>
                        - Firebase <br>
                        - Git <br>
                        - SQL (mySQL) <br>

                        
                    </p>
                </div>
                <img src="/assets/portret.png" alt="Picture of Przemyslaw Symber">
            </div>

            <div id="portfolio">
                <h2>Portfolio</h2>
                <div>
                    <a href="https://pomoclone-live.web.app/" target="_blank"><img src="/assets/pomoclone.png" alt="Image link to pomoclone website"></a>
                    <div class="portfolio-desc">
                        <h3>Pomofocus clone</h3>
                        <p>A clone of popular app Pomofocus, tool for boosting productivity and planning. Count down timer and integreated to-do list.
                            Made with React and Firebase.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="portfolio-desc">
                        <h3>Pixel Sketch! (desktop only)</h3>
                        <p>An app which let you make your own pixel art via web browser and download it. Made in Vanilla JS</p>
                    </div>
                    <a href="https://symberprzemyslaw.github.io/pixel-sketch/" target="_blank"><img src="/assets/pixel.png" alt="Image link to pixel sketch app"></a>
                </div>
                <div>
                    <a href="https://musca.pl" target="_blank"><img src="/assets/musca.png" alt="Image link to musca.pl website"></a>
                    <div class="portfolio-desc">
                        <h3>Musca</h3>
                        <p>A commercial website made for photography studio</p>
                    </div>
                </div>
            </div>
            <div id="contact">
                <h2>Contact</h2>
                <p>Feel free to contact me if you have any questions, need further information, or would like to discuss a potential project. You can reach me at my email or through my social media channels below:</p>
                <br>
                <div class="links">
                    <a href="mailto:symber.przemyslaw@gmail.com">symber.przemyslaw@gmail.com</a> <br>
                    <a href="https://github.com/symberprzemyslaw">github.com/symberprzemyslaw</a> <br>
                    <a href="https://www.linkedin.com/in/przemys%C5%82aw-symber/">LinkedIn</a> <br>

                </div>
            </div>
        </main>
        <footer>
            <p>Made by Przemysław Symber 2024 &copy;</p>
        </footer>
    </div>
    <script src="./index.js"></script>
</body>
</html>